.root {
  width: "50px";
  height: "24px";
  padding: "0px";
}

.switchBase {
  color: "#818181";
  padding: "1px";
  /* checked {
       + $track {
        backgroundColor: "#23bf58"
      }
    } */
}

.thumb {
  color: "white";
  width: "20px";
  height: "20px";
  margin: "1px";
}

.checked {
  color: "#23bf58 !important";
  transform: "translateX(26px) !important";
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.wrap1 {
  min-height: 100%;
}
