.map_wrap {
  position: relative;
}
.map {
  margin-right: auto;
  margin-left: auto;
}

.gps_bnt {
  height: 30px;
  width: 30px;
  position: relative;
  float: left;
  z-index: 100;
  display: block;
}

.gps_bnt:hover {
  cursor: pointer;
}

/* 기본 오버레이 스타일 */
.overlaybox {
  position: absolute;
  width: 120px;
  height: auto;
  /* background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png")
    no-repeat; */
  background: rgb(219, 237, 217);
  /* border: lightgrey solid; */
  border-radius: 10%;
  padding: 5px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
}
.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* .overlaybox .boxtitle .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
} */
/* .close:hover {
  cursor: pointer;
} */

.overlaybox .boxtitle {
  /* color: #fff;
  font-size: 13px;
  font-weight: bold; */
}

/* .overlaybox ul {
  width: 247px;
} */

/* 기본 오버레이 리스트 (깃털꽂기, 먹이주기) */
.overlaybox li {
  list-style: none;
  position: relative;
  /* margin-bottom: 2px; */
  background: rgb(219, 237, 217);
  padding: 5px 5px;
  color: rgb(36, 117, 44);
  line-height: 1;
  font-family: "KJHGothicBold";
  font-size: 20px;
  /* font-weight: bold; */
  vertical-align: top;
  float: inherit;
  border-radius: 10% / 30%;
}

.overlaybox li span {
  display: inline-block;
}

.overlaybox li .title {
  font-size: 13px;
}

.overlaybox li:hover {
  color: #fff;
  background: rgb(36, 117, 44);
}

.enteroveray {
  position: relative;
  width: 100px;
  color: rgb(36, 117, 44);
  font-size: 13px;
  /* font-weight: bold; */
  height: auto;
  background: rgb(219, 237, 217);
  border-radius: 10%;
  padding: 5px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
  white-space: normal;
  font-family: "KJHGothicBold";
}

.enteroveray div:hover {
  color: #fff;
  background: rgb(36, 117, 44);
  border-radius: 10%;
}

.blockoveray {
  position: relative;
  color: white;
  font-size: 13px;
  /* font-weight: bold; */
  width: 100px;
  height: auto;
  background: rgb(62, 62, 62);
  border-radius: 10% / 30%;
  padding: 5px 5px;
  white-space: normal;
  font-family: "KJHGothicBold";
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
}
