.postHome {
  /* display: flex;
  flex-direction: row;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* .postHome::-webkit-scrollbar {
  display: none;
} */

.postPage {
  position: relative;
  padding-bottom: 100px;
  background: white;
  height: 100%;
}
