.postPage {
  background: white;
  height: 100%;
  position: relative;
  /* padding-bottom: 80px; */
}

.post_box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* display row 형태로 view 만들기 */
.section_view {
  width: 90%;
  height: auto;
  border-bottom: 2px solid black;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  border-bottom: 2px solid black;
}

/* 게시글 이미지 style */
.profile_img {
  margin: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

/* 게시글 정보 */
.posts {
  background: white;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 태그용 닉네임과 시간정보 */
.post_detail {
  font-weight: normal;
  font-size: 13px;
  color: gray;
}

/* 정렬 */
.post_name {
  position: relative;
  display: flex;
  column-gap: 15px;
}
/* 태그용 닉네임과 시간정보 */
.post_detail {
  font-weight: normal;
  font-size: 13px;
  color: gray;
}

/* 게시글 스타일 정보 */
.post_content {
  width: 100%;
  margin-top: 15px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 이미지 크기 조절 */
.post_img {
  margin-top: 15px;
  max-width: 40%;
  border-radius: 20px;
  height: auto;
}

/* 수정/삭제 점점점 버튼 스타일 */
.heart_btn {
  position: absolute;
  right: 40px;
}

.like_btn {
}

/* 수정/삭제 점점점 버튼 스타일 */
.dot_btn {
  position: absolute;
  right: 5px;
}
